@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Oswald:wght@200;300;400;500;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************** vars *******************/
:root {
  font-size: 62.5%; /* 10px */

  --primary-color: #22577e;
  --secondary-color: #f6f2d4;
  --secondary-color-m: #f6f2d4a8;
  --tertiary-color: #95d1cc;
  --tertiary-color-m: #95d1cca8;
}

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.8;

  display: flex;
}

/**************** sidebar nav *******************/
.sidebar-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.sidebar-nav .container {
  height: 100%;
  display: flex;

  flex-direction: column;
  background-color: var(--primary-color);
}

.sidebar-nav .container .logo img {
  width: calc(3vw + 3vh);
}

.sidebar-nav .container .social-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.sidebar-nav .container .social-links a i {
  font-size: calc(2rem + 1vw);

  color: white;
  margin-bottom: calc(2rem + 1vw);

  transition: color 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sidebar-nav .container .social-links a i:hover,
.sidebar-nav .container .social-links a i:active {
  color: var(--secondary-color-m);
}
